<meta name="keywords" content="Software Developer, Mobile Development, Flutter Development, Android Developer, Kotlin, Java, Software Engineer, Machine Learning, AI Research, Seoul, South Korea">
<meta property="og:image" content="https://englim.me/assets/preview2.png">
<meta name="twitter:image" content="https://englim.me/assets/preview2.png">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨‍💻</text></svg>">